body {
    margin: 0px;
    border: 0px;
}

#titulo strong, #titulo2 strong, #titulo3 strong{
    font-size: 28px; 
    padding-left: 150px;
}

#Microsoft, #Google, #Amazon{
    text-align: justify;
    font-size: 18px; 
}

